<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo 9</title>
        <link rel="stylesheet" href="{{url_for('static', filename='verClientes.css')}}">
    </head>
    <body>
        <main class="main">
            <div class="container">
               
                
            
                <h2>Lista de Clientes</h2>
                {% block nav %}
                <a href="/"> Formulario de Clientes </a>
                {% endblock nav %}
                <div>
                    {% for cliente in listaClientes %}
                        <div class="cliente">

                            <table>
                                <thead>
                                    <tr>
                                        <th>nombre</th><th>correo</th><th>nit</th>
                                    </tr>
                                
                    
                                <tr>
                                    <td><strong> {{ cliente.nombre }}</strong></td><td><strong> {{ cliente.apellido }}</strong></td><td><strong> {{ cliente.carnet }}</strong></td>
                                </tr>
                                </thead>
                            </table>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>